.flexColumn{
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	height: 85%;
}
.Header{
	display: flex;
	flex-direction: row;
	place-content: space-between;
	align-items: flex-start;
	position: sticky;
	top:0;
}
.Footer{
	height: 16px;
	font-size: 12px;
	color: white;
	position: sticky;
	bottom: 3px;
	text-align: center;
}


